* {
  font-family: "Tangerine", serif;
}

body, html {
  height: 100%;
}

/* index.html */

header {
  position: fixed;
  overflow: hidden;
  background-color: white;
  width: 100%;
  height: auto;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;

}

.cafe-name {
  font-size: 70px;
  margin: 0px;
  text-align: center;
}

@media (max-width: 576px) {
  .cafe-name {
    font-size: 50px;
  }
}

.row.nav-links {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color:sienna;
}

.nav-link {
  float: left;
}

.link {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 35px;
}

@media (max-width: 768px) {
  .link {
    font-size: 20px;
  }
}

.active {
  color: rgb(255, 209, 136);
}


.link:hover {
  color: rgb(255, 209, 136);
}

.open {
  font-size: 35px;
}

.open-desc {
  float:right;
  padding-right: 16px;
  margin: 0px;
  color: white;
}

@media (max-width: 768px) {
  .open-desc {
    text-align: center;
    font-size: 20px;
  }
} 

/* photo slider */

.wrapper {
  background: #000;
  max-width: 100%;
  margin: 0 auto;
}

.slides {
  position: relative;
  display: block;
}

.slides:focus {
  outline: 0;
}

.slides figure {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
}

.slides figure:first-child {
  position: relative;
}

.slides figure img {
  display: block;
}

.slides .show {
  z-index: 3;
  opacity: 1;
}

.slides figcaption {
  position: absolute;
  font-family: sans-serif;
  font-size: 0.8em;
  bottom: 0.75em;
  right: 0.35em;
  padding: 0.25em;
  color: #fff;
  background: #000;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.slides figcaption a {
  color: #fff;
}

@media (max-width: 576px) {
  .slide-photo {
    width: auto;
    height: 300px;
  }
}


.next,
.prev {
  color: #fff;
  position: absolute;
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  top: 50%;
  z-index: 4;
  font-size: 2em;
  margin-top: -1.2em;
  opacity: 0.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.next:hover,
.prev:hover,
nav button:hover {
  cursor: pointer;
  opacity: 1;
}

.next {
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.prev {
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

nav {
  text-align: center;
  line-height: 25px;
  position: relative;
}

nav button {
  background: #000;
  color: #fff;
  position: relative;
  border: none;
  outline: none;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul > li {
  display: inline-block;
  list-style-type: none;
}

nav ul > li button {
  width: 15px;
  height: 20px;
  line-height: 25px;
  font-size: 32px;
  opacity: 0.7;
}

nav button.play {
  position: absolute;
  width: 30px;
  height: 20px;
  font-size: 15px;
  line-height: 15px;
  right: 0;
  bottom: 0;
}

nav button.play:before {
  content: "\25B6";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

nav button.play.on:before {
  content: "\23f8";
}

nav ul > li button:before {
  content: "\2022";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul > li button.selected {
  opacity: 1;
}

/* About Us */

.about-header {
  text-align: center;
  font-size: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-details {
  text-align: center;
  font-size: 28px;
  margin-left: 14%;
  margin-right: 14%;
}

.our-coffee{
  text-align: center;
}

.our-desserts {
  text-align: center;
}

.our-photo1 {
  margin-left: 50px;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .our-photo1 {
    margin-left: 0px;
  }
}

.our-photo2 {
  margin-right: 50px;
  border-radius: 15px;
  float:right;
}

@media (max-width: 768px) {
  .our-photo2 {
    margin-right: 0px;
    float:none;
  }
}

.our-coffee-header {
  font-size: 35px;
  font-weight: bold;
}

.our-coffee-desc {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 28px;
}

/* footer */

footer {
  background: sienna;
  height: auto;
  color: white;
  align-content: center;
}

footer a {
  color:white;
}

footer a:hover {
  color: white;
}

.company-name {
  font-size: 80px;
  text-align: center;
}

hr {
  height:2px;
  border-width:0;
  color:rgb(165, 165, 165);
  background-color: rgb(79, 79, 79);
}

.row {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .footer-det {
    text-align: center;
  }
}

.contact {
  padding-bottom: 15px;
  font-weight: bold;
}

.footer-contact {
  font-size: 25px;
}

.portfolio {
  padding-bottom: 15px;
}

.social-media {
  float: right;
  font-weight: bold;
}

@media (max-width: 768px) {
  .social-media {
    float:none;
  } 
}

.row.footer-next {
  padding-top: 0px;
  color: #919191;
}

.made-by {
  text-align: center;
  font-size: 25px;
  padding-bottom: 10px;
}

.social-header {
  padding: 0px;
  float:right;
}

.media-links {
  float:right;
  padding: 0px;
}

@media (max-width: 768px) {
  .media-links {
    float:none;
  } 
}

.social-icons {
  padding: 0px;
  margin: 0px;
}

.facebook {
  padding-right: 30px;
}

a.link-social img {
  width: 40px; 
  height:40px;
}

@media (max-width: 600px) {
  a.link-social img {
    width: 30px; 
    height:30px;
    margin-right: 6px;}
}

a.link-social {
  text-decoration: none;
}

a.link-social:link, a:visited {
  opacity: 0.8;
}

a.link-social:visited {
  opacity: 0.6;  
}

a.link-social:hover {
  opacity: unset;
}

a.link-social:active {
  opacity: unset;
}


/* contact.html */

.form-container {
  padding-top: 60px;
}

.contact-desc {
  font-size: 40px;
}

.row-details {
  padding: 0px;
}

.contact-form {
  text-align: center;
}

.contact-title {
  padding-bottom: 15px;
}

.contact-details {
  text-align: center;
}

.card.form-card {
  background-color: rgb(255, 209, 136);
}

.form-card {
  padding: 30px;
}

input.form-control {
  font-size: 25px;
}

textarea#comment.form-control {
  font-size: 25px;
}

.payment-details {
  padding-top: 50px;
  padding-bottom: 50px;
}

.payment-title {
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  font-size: 40px;
}

.payment-forms {
  list-style-type: none;
  padding-top: 20px;
  padding-left: 0px;
}

.payment-elem {
  padding-bottom: 10px;
  color:white;
  font-size: 30px;
}

.card.payment-card {
  background-color: sienna;
}

.payment-card {
  padding: 20px;
}

.details-list {
  list-style-type: none;
  text-align: center;
  padding-top: 15px;
  padding-left: 0px;
  font-size: 18px;;
}

.btn.submit-button {
  background-color:sienna;
  color: white;
  width: 30%;
  font-size: 25px;
}

@media (max-width: 576px) {
  .btn.submit-button {
    width: auto;
  }
}

.btn.submit-button:hover {
  background-color:rgba(160, 81, 45, 0.776);
  color: white;
}

.contact-det-header {
  font-size: 40px;
  font-weight: bold;
}

.details-list {
  font-size: 30px;
}

.mapouter {
  padding-right: 40px;
}

@media (max-width: 991px) {
  .mapouter {
    padding: 0px;
  }
}


/* menu.html */

.menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  width: 40%;
  border: 5px sienna solid;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.menu-sections {
  display: table;
  width: 100%;
  table-layout: fixed;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.menu-sections span {
  display: table-cell;
  text-align: center;
}

.drinks {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
}

.menu-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  width: 20%;
  border: 3px sienna solid;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  text-align: center;
}

.menu-button {
  background-color: sienna;
  border: none;
  color: #FEFEFE;
  padding: 16px 32px;
  text-align: center;
  font-size: 32px;
  margin: auto;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.menu-button:hover {opacity: 1}
